@import "~styles/variables";

.youtube-video {
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    padding: 10px;
    border-bottom: 1px solid $shadow-color;

    &:hover {
      background-color: rgba(25,30,35,.61);
    }

    &--header {
        color: $white;
        margin: 0;
        font-size: 21px;

        //text-shadow: 3px 3px 2px black;
        line-height: 27px;
        font-weight: 300;

        white-space: pre-wrap;
        word-wrap: break-word;

        // This is a bit of a hack to 
        @media screen and (max-width: 1216px) {
          font-size: 18px;
          line-height: 24px;
        }

        @media screen and (max-width: 967px) {
          font-size: 14px;
          line-height: 18px
        }

        @media screen and (max-width: 767px) {
          font-size: 27px;
          line-height: 36px;
        }

        @media screen and (max-width: 718px) {
          font-size: 21px;
          line-height: 27px;
        }

        @media screen and (max-width: 608px) {
          font-size: 18px;
          line-height: 24px;
        }


        @media screen and (max-width: 488px) {
          font-size: 14px;
          line-height: 18px;
        }
    }

    &__meta {
        padding-top: .5rem;
        font-size: 14px;
        color: $white;
        text-shadow: 3px 3px 2px $shadow-color;

        &--time {
            color: $accent-color;
            display: block;
        }

        &--spacer {
            margin: 0 .5rem;
        }
    }
}
