@import '~styles/variables';

// Positioning
.margin-center {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

// Height/Width
.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

// Spacers
.margin-bottom-2 {
  margin-bottom: 2rem;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-top-1 {
  margin-top: 1rem;
}

// Alignment and Flex Helpers
.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.display-flex {
  display: flex;
}

// Colors and styling
.background-grey {
  background-color: $grey;
}

.card {
  border: 1px solid $card-shadow-color;
  border-radius: 10px;
  box-shadow: 1px 3px $card-shadow-color;
}
