// Width of the content area
$content-width: 1228px;
$on-laptop: 800px;

// Spacing Units
$spacing-unit: 60px;

// Fonts
$primary-font-family: 'Open Sans', sans-serif;

// Colours
$background-top: #849db5;
$background-bottom: #31394a;
$grey: #292929;
$logo-grey: #454446;
$social-grey: #474749;
$white: #fff;
$accent-color: #8efbe3;
$shadow-color: #4f4f51;
$card-shadow-color: rgba(0, 0, 0, 0.3);
$hover: rgba(25, 30, 35, 0.61);

// Z-Index Ordering
$z-index-2: 2;
$z-index-1: 1;

//* Media Screen Mixin
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

//* Clearfix
%clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}
