@import '~styles/variables';

body,
html {
  background: linear-gradient(
    to bottom,
    $background-top 50%,
    $background-bottom 100%
  );
  font: normal normal 14px/1.4 Helvetica, Roboto, 'Segoe UI', Calibri, 
    sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h2 {
  color: $white;
  margin: 0;
  text-shadow: 3px 3px 2px $shadow-color;
}

section {
  flex: 1;
  margin-bottom: 1rem;
  padding: 1rem;

  &.social-section {
    margin-bottom: 2rem;
  }

  header {
    border-bottom: 1px solid $logo-grey;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;

    svg {
      padding-left: 1rem;
    }
  }
}

img {
  max-width: 100%;
}

a {
  color: $accent-color;
  text-decoration: none;
  transition: opacity 1s linear;

  &:hover {
    opacity: 0.5;
  }
}

// Used to position the background image overlay.
.overlay {
  background-size: cover;
  height: 100%;
  opacity: 0.3;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.social {
  @extend .card;
  background-color: $social-grey;
  border-radius: 10px;
  cursor: pointer;
  padding: 0 10px;
  transition: opacity 0.5s linear;
  width: 2rem;

  @media only screen and (min-width: 48em) {
    padding: 10px 5px;
    width: 3.2rem;
  }

  @media screen and (max-width: 488px) {
    padding: 0 3px;
    width: 1.5rem;
  }

  &:hover {
    opacity: 0.5;
  }
}

// Global Styles
@import '~styles/grid';
@import '~styles/util';
