@import '~styles/variables';

.footer {
  color: $white;
  padding: 0 1rem;

  &__inner {
    color: $white;
    padding: 1rem;

    &--attribution {
      display: block;
      font-size: 10px;
    }

    &--contact {
      text-align: left;

      svg {
        padding-right: 0.5rem;

        @media only screen and (max-width: 48em) {
          display: none;
        }
      }
    }
  }
}
